[CONFIG NAME]
IPAccess: '<IP to allow SSH Access> (e.g. 216.158.51.82/32)'
KeyName: '<EC2 Key to authenticate with SSH>'
MesosLeaderAMI: '<AMI ID of Mesos Leader (optional -- will be found automatically if not provided)>'
MesosLeaderInstanceProfile: '<ARN of Mesos Leader Instance Profile (optional -- may not be necessary)>'
MesosLeaderInstanceType: '<Mesos Leader Instance Type>'
MesosFollowerAMI: '<AMI ID of Mesos Follower (optional -- will be found automatically if not provided)>'
MesosFollowerInstanceProfile: '<ARN of Mesos Follow Instance Profile (optional -- may not be necessary)>'
MesosFollowerInstanceType: '<Mesos Follow Instance Type>'
MesosFollowerSpotPrice: '<Spot Price to use Mesos Follower Instances> (optional)>'
PrivateHostedZoneName: '<Name of Private Hosted Zone to use for Private DNS in new VPC>'
Region: '<AWS Region to Launch Stack>'
StackType: '<Type of Stack to launch (e.g. accumulo)>'
NameSpace: '<String that identifies user of stack (used to differentiate multiple stacks within a single account)>'